*{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: YekanFa;
  cursor: default;
}
body{
  background: #dddbd9 !important;
}
.error{
  color: orangered;
  margin-left: 10px;
}
@font-face {
  font-family: "YekanFa";
  src: url("./assets/fonts/YekanFa/iranyekanwebregular.eot") format("eot"),
  url("./assets/fonts/YekanFa/iranyekanwebregular.woff") format("woff"),
  url("./assets/fonts/YekanFa/iranyekanwebregular.woff2") format("woff2"),
  url("./assets/fonts/YekanFa/iranyekanwebregular.ttf") format("ttf"),
  url("./assets/fonts/YekanFa/iranyekanwebregular.svg") format("svg")
}
@font-face {
  font-family: "IRANSansBold";
  src: url("./assets/fonts/IRAN Sans Bold/IRAN Sans Bold.eot") format("eot"),
  url("./assets/fonts/IRAN Sans Bold/IRAN Sans Bold.woff") format("woff"),
  url("./assets/fonts/IRAN Sans Bold/IRAN Sans Bold.woff2") format("woff2"),
  url("./assets/fonts/IRAN Sans Bold/IRAN Sans Bold.ttf") format("ttf"),
  url("./assets/fonts/IRAN Sans Bold/IRAN Sans Bold.svg") format("svg")
}
.MuiDialog-root * {
  font-family: YekanFa !important;
}